$blue: #5a00dd;
$light-blue: #684efb;
$pink: #ff193f;
$light-pink: #ff35b4;
$yellow: #ff9c35;
$light-yellow: #ffd019;
$tomato: #fd8005;
$light-tomato: #f59e75;
$white: #ffffff;
$dark-grey: #626262;
$payment-chek-item : #0DC574;
$mid-light-blue: #21A9FF;
$mid-black:#101010;
$light-black: #353536;
$dark-blue: #343C97;
$light-primary:#d22df0;
$ghost-white: #f5f7ff;
$skyBlue: #2eb1ea;
$light-grey: #efefef;
$mid-light-grey: #e5e5e5;
$green: #3ec65d;
$dodger-blue: #007bff;
$red: #f92600;
$white: #ffffff;
$black: #000000;
$light-dark: #300063;
$light: #f8f8f8;
$gray: #575757;
$gray2: #6b6b8d;
$gray3: #c4c4c4;
$primary: #343c97;
$primary2: #31c4f3;
$chocolate: #3e3e3e;
$light-red: #e34856;

