.option-component {
    .chosen-button{
        background-color: $green !important;
    }

    .selected-button  {
        background-color: #4289FF !important;
    }

    .chosen-button-icon {
        height: 40px;
        width: 40px;
        margin-top: 2px;
    }

    .btn {
        background-color: $light-grey;
    }

    .wrong-answer-button {
        background-color: $red !important;
        color: white;
    }
}