.module-component {
    .MuiPaper-root {
        box-shadow: unset !important;
        background-color: #f3f5f9;
    }

    .custom-accordion-component {
        box-shadow: unset !important;
        
    }
    .indicator{
        flex-direction: row-reverse;
    }

    .MuiIconButton-edgeEnd {
        background: unset;
        color: $black;
        font-size: 10px !important;
        bottom: 3px;
    }

    .MuiButtonBase-root {
        font-size: 18px;
        margin-top: -31px;
        // padding: 0;
    }

    .MuiAccordionDetails-root {
        display: unset;
        margin: 0 !important;
        padding: 0 !important;
    }

    .module-group {
        display: unset !important;
    }

    .MuiAccordionSummary-root.Mui-expanded {
        min-height: unset;
        height: auto !important;
        padding-bottom: 0;
        margin-bottom: 25px;
    }
    .meta {
        height: 22px;
    }
    .MuiCollapse-wrapperInner {
        margin-top: -40px;
    }
}

.course-content-list {
    border-radius: 10px;
}
.module-group {
    .MuiAccordionDetails-root {
        display: unset;
    }
}

.MuiAccordionDetails-root {
    display: unset;
    margin: 0 !important;
    padding: 0 !important;
}